@import "vendor/normalize";
@import "variables";
@import "helpers";

body {

}

#header {
  background-color: #4FC388;
  background-image: -webkit-linear-gradient(left, #30AC8E, #4FC388);
  background-image: linear-gradient(to right,#30AC8E, #4FC388);
}

// .profile-menu > a .profile-pic > img {
//   border: 3px solid rgba(0, 0, 0, 0);
// }
