.sidebar-inner.c-overflow
  .profile-menu
    a(href='', toggle-submenu='')
      .profile-pic
        img(src='http://vet-pro.co/img/logo.png', alt='')
      .profile-info
        | Malinda Hollaway
        i.zmdi.zmdi-caret-down
    ul.main-menu
      li
        a(data-ui-sref='pages.profile.profile-about', data-ng-click='mactrl.sidebarStat($event)')
          i.zmdi.zmdi-account
          |  View Profile
      li
        a(href='')
          i.zmdi.zmdi-input-antenna
          |  Privacy Settings
      li
        a(href='')
          i.zmdi.zmdi-settings
          |  Settings
      li
        a(href='')
          i.zmdi.zmdi-time-restore
          |  Logout
  ul.main-menu
    li(data-ui-sref-active='active')
      a(data-ui-sref='home', data-ng-click='mactrl.sidebarStat($event)')
        i.zmdi.zmdi-home
        |  Home
    li.sub-menu.active.toggled(data-ng-class="{ 'active toggled': mactrl.$state.includes('headers') }")
      a(href='', toggle-submenu='')
        i.zmdi.zmdi-view-compact
        |  Super veterinaria
      ul
        li
          a(href="#") Tablero
        li
          a(href="#") Calendario
        li
          a(href="#") Mascotas
        li
          a(href="#") Clientes
        li
          a(href="#") Móviles
        li
          a(href="#") Marketing
        li
          a(href="#") Stock
        li
          a(href="#") Configuraciones
